:root {
    --font-color: #000000;
    --background-color: #ffffff;
    --link-color: rgb(223, 226, 233);
    --icon-color: #ffffff;
    --card-background-color: #F0F4F9;
    --card-hover-color: #DFE4EA;
    --card-text-color: #585858;
    --input-background-color: #F0F4F9;
    --input-text-color: #000;
    --special-text-color: #c9c3c3; /* Color gris para el texto específico */
}

[data-theme="dark"] {
    --font-color: #eee;
    --background-color: #000000;
    --link-color: rgb(81, 85, 87);
    --icon-color: #ff0000;
    --card-background-color: #333;
    --card-hover-color: #444;
    --card-text-color: #eee;
    --input-background-color: #222;
    --input-text-color: #eee;
    --special-text-color: #5e5959; /* Color gris para el texto específico */
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

.special-text {
    color: var(--special-text-color); /* Color gris para el texto específico */
}

.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.toggle-theme-wrapper span {
    font-size: 16px;
}

.toggle-theme {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 50px;
}

span .myimg {
    width: 24px;
    margin-right: 2px;
}

.toggle-theme input {
    display: none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 16px;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

input:checked+.slider {
    background-color: cornflowerblue;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

[data-theme="dark"] .sidebar img {
    filter: invert(1);
}